* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; 
}

body {
  overflow: hidden;
}

a {
  color: unset;
  text-decoration: none;
}


.gradient__bg {
  background: #515151;
}

.App {
  background-color: #222;
}

.gradient__text {
  color: white;
  background-color: #515151;
  -webkit-background-clop:text ;
  -webkit-text-fill-color: transparent;
}

.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }
  .section__margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }
  .section__margin {
    margin: 4rem 2rem;
  }
}
